body {
    background-size: cover;
    color:white;

        font-family: 'Comic Neue', cursive;
   
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    font-size: 2em;
}

h1, h2 {
    transition: color 0.1s ease-in-out;
}

h1:hover, h2:hover {
    color: yellow;
}

section {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}
p {
    font-size: 1.1em;
    line-height: 1.5;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style: none;
}


footer a {
    color: rgb(32, 21, 252);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: rgb(15, 221, 35);
    text-decoration: underline;
}
